.container {
    width: 750px;
    background-color: #FBFBFB;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
    overflow: hidden;
}

.titleContainer {
    padding: 24px;
}

.titleCaption {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    color: #303030;
}

.descriptionCaption {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #303030;
}

