.credentialSelectionContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.credentialBox {
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

.selected {
    border-color: blue;
    background-color: #e0e0ff;
}
