.container {
    border: 1px solid var(--theme-border-primary, #ACACAC);
    background-color: var(--theme-bg-secondary, #FBFBFB);
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 24px;
    width: 652px;
}

.titleCaption {
    color: var(--theme-text-primary, #303030);
    font-size: 24px;
    font-weight: 600;
}

.descriptionCaption {
    color: var(--theme-text-primary, #303030);
    font-size: 16px;
    font-weight: 400;
}
