.workflowAddDocumentContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.workflowAddDocumentCaption {
    color: #303030;
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
    margin-top: 24px;
    /*gap: 10px;*/
}

.buttonsContainer {
    display: flex;
    margin-top: auto;
    padding-right: 54px;
    gap: 18px;
    padding-bottom: 48px;
    justify-content: flex-end;
}

.workflowAddDocumentsContainer {
    width: 910px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.workflowAddDocumentsContent {
    padding: 0 46px 23px 46px;
}
