.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(217,217,217, 0.6);
}

.container {
    background-color: #f4f4f4;
    width: fit-content;
    height: 100%;
    margin-left: auto;
    display: flex;
}
