.contentContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 910px;
}

.titleCaption {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.subTitleCaption {
    max-width: 910px;
    margin-bottom: 22px;
    color: rgba(48, 48, 48);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.addProductContainer {
    display: flex;
    height: 86px;
    border: 1px dotted #8D9099;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 60px;
    max-width: 598px
}

.addProductCaption {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #8D9099;
}