.contentContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 910px;
}

.titleCaption {
    color: var(--theme-text-primary, #000);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.subTitleCaption {
    max-width: 910px;
    margin-bottom: 22px;
    color: var(--theme-text-primary, #303030);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.addProductContainer {
    display: flex;
    height: 86px;
    border: 1px dotted var(--theme-text-secondary, #8D9099);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 60px;
    max-width: 598px
}

.addProductCaption {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--theme-text-secondary, #8D9099);
}