.textArea {
    resize: none;
    width: 550px;
    height: 110px;
    padding: 13px 16px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-family: Poppins, serif;
    background-color: #FBFBFB;
}

.textArea:hover {
    border-color: #7276F7;
}

.textArea:focus {
    border-color: #7276F7;
}
