dist/

# Version control
.github/
.gitattributes
.husky

# Logs
logs/

# IDE files
.idea/
.vscode/
.fleet/
.aiassistant/

# Docker files themselves
docker/

# Environment files
.env*
!.env.example

# Temporary files
**/tmp/
**/temp/

# Node modules
node_modules/


# Other unnecessary files
docs/
README.md
LICENSE
CHANGELOG.md