.container {
    display: flex;
    user-select: none;
    flex-direction: column;
}

.title {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--theme-text-secondary, #8D9099);
    align-self: flex-start;
}
