.contentContainer {
    margin-top: 24px;
    margin-bottom: 24px;
}

.titleCaption {
    color: rgba(48, 48, 48);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.subTitleCaption {
    max-width: 582px;
    color: rgba(48, 48, 48);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
}

.documentAddDragAndDropContainer {
    margin-bottom: 24px;
}
