.editorContainer {
    width: 100%;
    max-width: 85vw; /* TODO: find a better way to stop the editor to grow beyond the screen width */
    height: 100%;
    border: 1px solid #C4C4C4;
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;
    box-sizing: border-box;
}

.validationMessageBox {
    height: 75px;
    padding: 0 6px;
}

.validationMessageBoxSuccess {
    color: #03c303;
}

.validationMessageBoxFailed {
    color: #d90000;
}
