.container {
    display: flex;
    flex-direction: column;
    width: 486px;
    background-color: #FBFBFB;
    border-radius: 8px;
    padding-top: 12px;
    border: 1px solid #C4C4C4;
}

.headerContainer {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerTitle {
    font-size: 16px;
    font-weight: 600;
    color: #303030;
}
