.container {
    width: 909px;
    display: flex;
    flex-direction: column;
}

.contentContainer {
    display: flex;
    flex-grow: 1;
    background-color: #F4F4F4;
    flex-direction: column;
}

.contentCaptionContainer {
    display: flex;
    gap: 24px;
    flex-direction: column;
    padding: 24px 54px 24px 46px;
    background-color: #F4F4F4;
}

.descriptionCaption {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
}

.subTitleCaption {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.buttonsContainer {
    display: flex;
    margin-top: auto;
    padding-right: 54px;
    background-color: #FBFBFB;
    gap: 18px;
    padding-bottom: 48px;
    justify-content: flex-end;
}

.tabsInformationRouteContainer {
    border-top: 2px solid #E3E3E3;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 12px 54px 12px 46px;
    background-color: #FBFBFB;
}

.tabsInformationRouteContentContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
}

.informationDataLabel {
    width: 250px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.informationDataValue {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.informationDataRowContainer {
    display: flex;
    flex-direction: row;
    gap: 44px;
}

.tabsContainer {
    display: flex;
    flex-grow: 1;
}

.tabsInformationRouteCredentialContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #FBFBFB;
}

.tabsInformationRouteCardContainer {
    margin: 2% 0 2% 7.5%
}

.informationDataLabel {
    width: 250px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.informationDataValue {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
