NODE_ENV=development
INTERNAL_HOSTNAME_OR_IP=0.0.0.0
PORT=5010

############
# Database - You can change these to any PostgreSQL database that has logical replication enabled.
############
POSTGRES_HOST=db
POSTGRES_DB=postgres
POSTGRES_PORT=5432

POSTGRES_PASSWORD=your-super-secret-and-long-postgres-password
JWT_SECRET=your-jwt-secret-min-32-chars
ANON_KEY=your-anon-jwt-token
SERVICE_ROLE_KEY=your-service-role-jwt-token
DASHBOARD_USERNAME=supabase
DASHBOARD_PASSWORD=your-dashboard-password
SECRET_KEY_BASE=your-secret-key-base-min-64-chars
VAULT_ENC_KEY=your-encryption-key-32-chars-min

# default user is postgres

DEBUG=sphereon:*
OID4VCI_API_BASE_URL=http://localhost:5010/oid4vci
COOKIE_SIGNING_KEY=your-cookie-signing-key-32-chars
DB_CONNECTION_NAME=default
DB_TYPE="postgres"
DB_URL=postgres://postgres:your-super-secret-and-long-postgres-password@db:5432/postgres
DB_ENCRYPTION_KEY=your-db-encryption-key-64-hex-chars

OID4VP_AGENT_BASE_PATH=/oid4vp
OID4VP_WEBAPP_BASE_URI=http://my-hostname-or-ip:5010/oid4vp
OID4VP_AGENT_BASE_URI=http://my-hostname-or-ip:5010/oid4vp
# We map the volumes/conf volume onto /opt/agent/conf. We do this in the docker compose file!
# CONF_PATH="./conf"
DID_API_FEATURES="did-persists,did-resolve"
STATUS_LIST_API_FEATURES=status-list-hosting,w3c-vc-api-credential-status
CONTACT_MANAGER_API_FEATURES=party_read,party_write,party_type_read,identity_read
DID_API_RESOLVE_MODE="hybrid"
DID_WEB_SERVICE_FEATURES=did-web-global-resolution
OID4VP_ENABLED=true
OID4VCI_ENABLED=true
IS_WALLET_ENABLED=true

VC_API_FEATURES="vc-verify,vc-issue,vc-persist"

DEFAULT_DID=your-default-did-jwk
DEFAULT_KID=sphereon-auth

# How to import DIDs. Can either by from `environment`, `filesystem`, 'environment,filesystem' or none
DID_IMPORT_MODE=environment,filesystem

# If you want to import a DID:WEB with X509 certificates use the following env vars
DID_WEB_DID=did:web:your-domain
# The below X509 options are required when DID_WEB_DID is configured
DID_WEB_CERT_PEM="-----BEGIN CERTIFICATE-----\nyour-certificate-here\n-----END CERTIFICATE-----\n"
DID_WEB_PRIVATE_KEY_PEM="-----BEGIN PRIVATE KEY-----\nyour-private-key-here\n-----END PRIVATE KEY-----\n"
DID_WEB_CERT_CHAIN_PEM="-----BEGIN CERTIFICATE-----\nyour-certificate-chain-here\n-----END CERTIFICATE-----\n"
## A KID is optional, otherwise a default value will be used
DID_WEB_KID=JWK2020-RSA
STATUS_LIST_API_BASE_PATH=/vc

# The DID of the status list. This should be the same DID as the issuer of VCs.
STATUS_LIST_ISSUER=your-status-list-issuer-did

# The id (URL) of the status list. This needs to be a resolvable URL that hosts the status list credential.
STATUS_LIST_ID=http://my-hostname-or-ip:5010/vc/status-lists/example

# A correlation id for the status list. This ID is mandatory and is mainly used when calling endpoints
STATUS_LIST_CORRELATION_ID=default-example

# The status list length. Should be at least 150.000 to ensure heard privacy for subjects. Random indices from this list will be used
# when issuing credentials
STATUS_LIST_LENGTH=150000

# Status list purpose. Can either be 'revocation' to only allow revocation of a status, or suspension, to allow for (temporary) suspension and reactivation
STATUS_LIST_PURPOSE=suspension

###########
# Right now we still need supabase. Soon that will be removed
##################

############
# Supavisor -- Database pooler
############
POOLER_PROXY_PORT_TRANSACTION=6543
POOLER_DEFAULT_POOL_SIZE=20
POOLER_MAX_CLIENT_CONN=100
POOLER_TENANT_ID=your-tenant-id

############
# API Proxy - Configuration for the Kong Reverse proxy.
############
KONG_HTTP_PORT=8000
KONG_HTTPS_PORT=8443

############
# API - Configuration for PostgREST.
############
PGRST_DB_SCHEMAS=public,storage,graphql_public

############
# Auth - Configuration for the GoTrue authentication server.
############

## General
SITE_URL=http://localhost:3000
ADDITIONAL_REDIRECT_URLS=http://192.168.2.90:3000
JWT_EXPIRY=3600
DISABLE_SIGNUP=false
API_EXTERNAL_URL=http://localhost:8000

## Mailer Config
MAILER_URLPATHS_CONFIRMATION="/auth/v1/verify"
MAILER_URLPATHS_INVITE="/auth/v1/verify"
MAILER_URLPATHS_RECOVERY="/auth/v1/verify"
MAILER_URLPATHS_EMAIL_CHANGE="/auth/v1/verify"

## Email auth
ENABLE_EMAIL_SIGNUP=true
ENABLE_EMAIL_AUTOCONFIRM=false
SMTP_ADMIN_EMAIL=admin@example.com
SMTP_HOST=supabase-mail
SMTP_PORT=2500
SMTP_USER=fake_mail_user
SMTP_PASS=fake_mail_password
SMTP_SENDER_NAME=fake_sender

## Phone auth
ENABLE_PHONE_SIGNUP=true
ENABLE_PHONE_AUTOCONFIRM=true

############
# Studio - Configuration for the Dashboard
############
STUDIO_DEFAULT_ORGANIZATION=Default Organization
STUDIO_DEFAULT_PROJECT=Default Project

STUDIO_PORT=3000
# replace if you intend to use Studio outside of localhost
SUPABASE_PUBLIC_URL=http://localhost:8000

# Enable webp support
IMGPROXY_ENABLE_WEBP_DETECTION=true

############
# Functions - Configuration for Functions
############
# NOTE: VERIFY_JWT applies to all functions. Per-function VERIFY_JWT is not supported yet.
FUNCTIONS_VERIFY_JWT=false

############
# Logs - Configuration for Logflare
# Please refer to https://supabase.com/docs/reference/self-hosting-analytics/introduction
############
LOGFLARE_LOGGER_BACKEND_API_KEY=your-super-secret-and-long-logflare-key

# Change vector.toml sinks to reflect this change
LOGFLARE_API_KEY=your-super-secret-and-long-logflare-key

# Docker socket location - this value will differ depending on your OS
DOCKER_SOCKET_LOCATION=/var/run/docker.sock

# Google Cloud Project details
GOOGLE_PROJECT_ID=GOOGLE_PROJECT_ID
GOOGLE_PROJECT_NUMBER=GOOGLE_PROJECT_NUMBER

ENABLE_ANONYMOUS_USERS=false
