.container {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.formContainer {
    border: 1px solid #ACACAC;
    background-color: #FBFBFB;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 24px;
    width: 652px;
}

.addContainer {
    border: 1px solid #7276F7;
    color: #7276F7;
    background-color: #FBFBFB;
    border-radius: 8px;
    padding: 12px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.titleCaption {
    color: #303030;
    font-size: 24px;
    font-weight: 600;
}

.descriptionCaption {
    color: #303030;
    font-size: 16px;
    font-weight: 400;
}

.addTitleCaption {
    color: #303030;
    font-size: 16px;
    font-weight: 600;
}

.addAnotherTitleCaption {
    color: #303030;
    font-size: 16px;
    font-weight: 400;
}
