.container {
    background-color: #F4F4FF;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding: 31px 24px;
}

.outletContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
