.container {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    gap: 44px;
}

.keyText {
    min-width: 250px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.valueText {
    font-size: 12px;
    min-width: 250px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.captionText {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
