.itemCaption {
    margin-top: 24px;
    color: #303030;
    font-style: normal;
    line-height: normal;
}

.itemCaptionValue {
    font-size: 16px;
    font-weight: 600;
}

.itemCaptionDescription {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
}
