@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './theme.css';
@import './responsive.css';

html {
    font-family: var(--theme-font-family);
    font-size: 16px;
    line-height: var(--theme-line-height-normal);
    overflow: hidden;
    height: 100%;
}

.menu {
  flex-shrink: 0;
  padding: 8px 16px;
  border-right: 1px solid lightgray;
}

.menu a {
  color: black;
}

.menu .active {
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--theme-font-family);
  user-select: none;
  background-color: var(--theme-bg-primary);
  color: var(--theme-text-primary);
  overflow: hidden;
  height: 100%;
}

:root {
    --background-primary-light: var(--color-grey-50);
    --background-secondary-light: var(--color-grey-100);
    --background-selected: var(--color-purple-50);
    --color-border-primary: var(--color-grey-300);
}
