@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
    font-family: Poppins sans-serif;
}

.menu {
  flex-shrink: 0;
  padding: 8px 16px;
  border-right: 1px solid lightgray;
}

.menu a {
  color: black;
}

.menu .active {
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', serif;
  user-select: none;
  background-color: #FBFBFB;
}

:root {
    --color-grey-50: #FBFBFB;
    --color-grey-100: #F2F2F2;
    --color-grey-300: #C4C4C4;
    --color-purple-50: #E7DEFB;

    --background-primary-light: var(--color-grey-50);
    --background-secondary-light: var(--color-grey-100);
    --background-selected: var(--color-purple-50);
    --color-border-primary: var(--color-grey-300);
}
