.container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.contactIdentifierContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.identifierCreateContentContainer {
    display: flex;
    flex-grow: 1;
    padding: 23px 46px 23px 46px;
    flex-direction: column;
    max-width: 910px;
}

.identifierCreateGuideContainer {
    margin-left: auto;
    margin-top: 76px;
    margin-right: 30px;
}

.headerContainer {
    padding: 24px 24px 12px 24px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.pathCaption {
    color: #303030;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
}

.currentPathCaption {
    color: #303030;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1px;
}

.identifierCreateCaption {
    color: #7276F7;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttonsContainer {
    margin-bottom: 82px;
    margin-right: 54px;
    display: flex;
    flex-Direction: row;
    gap: 20px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 910px;
}

.titleCaption {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.subTitleCaption {
    max-width: 910px;
    margin-bottom: 22px;
    color: rgba(48, 48, 48);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 765px;
}

.identifierAddSelectContactLabel {
    color: #303030;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}

.addProductContainer {
    display: flex;
    height: 86px;
    border: 1px dotted #8D9099;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 60px;
    max-width: 598px
}

.addProductCaption {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #8D9099;
}

.summaryCategoryLabel {
    color: #303030;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.summaryCategoryDescription {
    color: #303030;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
}

.summaryContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.summaryCategoryContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.publishingContainer {
    display: flex;
    flex-direction: column;
    gap: 35px;
    place-items: center;
    flex-grow: 1;
    justify-content: center
}

.publishingAssetLabel {
    color: #303030;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
