.panel {
    border-left-width: 4px;
    border-left-style: solid;
    padding: 16px;
    background-color: white;
}

.VALID {
    border-left-color: green;
}

.WARN {
    border-left-color: yellow;
}

.ERROR {
    border-left-color: red;
}
