.container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #F4F4FF;
    align-items: center;
    justify-content: center;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.textContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titleText {
    color: #303030;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.messageText {
    color: #303030;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 700px;
}
