.container {
    background-color: #202537;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    align-items: center;
}

.titleCaption {
    color: #FBFBFB;
    font-weight: 600;
    font-size: 18px;
}

