.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--theme-form-bg, #FBFBFB);
    padding: var(--theme-form-padding, 48px 24px);
    border-radius: var(--theme-form-radius, 24px);
    border: 1px solid var(--theme-form-border, #E3E3E3);
    width: 100%;
    max-width: 700px;
}

.summaryBoxes {
    gap: 16px;
    display: flex;
    flex-direction: column;
}
