.container {
    padding: 13px 10px 13px 18px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 13px;
    align-items: center;
    user-select: none;
}

.label {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #303030;
}
