.container {
    padding: 4px 6px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    user-select: none;
    border-radius: 4px;
}

.container:hover {
    background-color: var(--background-secondary-light);
}

.containerDisabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none; /* Prevent hover and clicks */
}

.containerActive {
    background-color: var(--background-selected);
}

.containerActive:hover {
    background-color: var(--background-selected); /* same as active, prevents hover override */
}

.iconContainer {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #303030;
}
