.container {
    background-color: #F2F2F2;
    border-right: 1px solid #C4C5CA;
    display: flex;
    flex-direction: column;
    width: 225px;
}

.routesContainer {
    gap: 19px;
    display: flex;
    flex-direction: column;
    margin: 24px 16px 0;
}

.settingsContainer {
    margin: auto 0 40px;
}
