.container {
    border: 1px solid #ACACAC;
    background-color: #FBFBFB;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 24px;
    width: 652px;
}

.formContainer {
    padding: 48px 24px;
    display: flex;
    flex-direction: row;
    gap: 24px
}

.headerContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.summaryContainer {
    background-color: #FBFBFB;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}

.formContainer {
    padding: 24px;
    display: flex;
    flex-direction: column;
    width: 604px;
    gap: 12px;
}

.headerTitle {
    color: #303030;
    font-size: 24px;
    font-weight: 600;
}

.headerDescription {
    color: #303030;
    font-size: 16px;
    font-weight: 400;
}

.extraInformationTabContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.extraInformationContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.extraInformationTitle {
    font-size: 12px;
    color: #303030;
}

.extraInformationItemsContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
