.container {
    background-color: #E3E3E3;
    width: 582px;
    height: 138px;
    cursor: pointer;
    border: 1px dashed #C4C4C4;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hiddenInput {
    display: none;
}

.captionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.description {
    color: #8D9099;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
