.container {
    width: 165px;
    display: flex;
    border-right: 1px solid #C4C5CA;
    flex-direction: column;
}

.titleContainer {
    padding: 30px 10px 0 24px;
    margin-bottom: 6px;
}

.titleCaption {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.16px;
}

.routesContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}
